@font-face {
    font-family: hacked;
    src: url(../../8693.ttf);
}
body{
    background-color: black;
    color:greenyellow;
}
.zagl{
    font-family: hacked;
    position: absolute;
    font-size: 40px;
}
.main div{
    display: inline-block;
}
.main{
    margin: auto;
    width: 1000px;
    font-size: 60px;
    font-weight: 900;
}
.photo img{
    height: 400px;
}
.sled{
    margin-top: 200px;
}
a{
    text-decoration: none;
    color: greenyellow;
}
.knopka{
    border: solid 5px;
    width: 200px;
    margin: auto;
    font-family: "Black Arial"
}
